# Variables optionnelles, à configurer avec Firebase Secret Manager ou functions:secrets:set
FUNCTIONS_REGION=us-central1
ONESIGNAL_APP_ID=
PUSHER_KEY=
PUSHER_CLUSTER=
# Ne jamais mettre de clés privées dans Git
SQUARE_ACCESS_TOKEN=
MONCASH_CLIENT_ID=
MONCASH_CLIENT_SECRET=
